{% extends 'layouts/_base.html' %}

{% block title %}
Productes
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped" style="background-color: #fefefe;">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>PREU</th>
            <th>CATEGORIA</th>
            <th colspan="5">Accions</th>
        </tr>
    </thead>
    <tbody>
        {% for (product, category, banned_product) in products_with_category %}
        <tr class="{{ 'own' if product.seller_id == current_user.id }}">
            <td><a href="/products/read/{{ product.id }}" alt="Visualitzar">{{ product.id }}</a></td>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ category.name }}</td>
            <td>
                {% if banned_product and (current_user.is_admin_or_moderator() or current_user.id == product.seller_id) %}
                    <a href="/products/read/{{ product.id }}" alt="Visualitzar">👁️</a>
                {% endif %}
                {% if not banned_product %}
                    <a href="/products/read/{{ product.id }}" alt="Visualitzar">👁️</a>
                {% endif %}

            </td>
            <td>
                {% if current_user.is_action_allowed_to_product(Action.products_update, product) %}
                <a href="/products/update/{{ product.id }}" alt="Editar">📝</a>
                {% endif %}
            </td>
            <td>
                {% if current_user.is_action_allowed_to_product(Action.products_delete, product) %}
                <a href="/products/delete/{{ product.id }}" alt="Eliminar">❌</a>
                {% endif %}
            </td>
            <td>
                {% if current_user.is_action_allowed_to_product(Action.products_moderate, product) %}
                    {% if banned_product and banned_product.product_id == product.id %}
                        <form method="post" action="{{ url_for('admin_bp.unban_product', product_id=product.id) }}">
                            <button type="submit" class="btn btn-warning">Unban</button>
                        </form>
                    {% else %}
                        <form method="post" action="{{ url_for('admin_bp.ban_product', product_id=product.id) }}">
                            <button type="submit" class="btn btn-danger">Ban</button>
                        </form>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if current_user.is_action_allowed_to_product(Action.products_create) %}
    <a class="btn btn-secondary btn-xl" href="/products/create">Crear un nou producte</a>
{% endif %}
{% endblock %}

