<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav class="bg-blue-500 p-4">
    <h1 class="text-white">Flaskr</h1>
    <ul class="flex">
      {% if g.user %}
        <li class="mr-4"><span class="text-white">{{ g.user['username'] }}</span></li>
        <li><a href="#" class="text-white">Log Out</a></li>
      {% else %}
        <li><a href="#" class="text-white">Register</a></li>
        <li class="ml-4"><a href="#" class="text-white">Log In</a></li>
      {% endif %}
    </ul>
  </nav>
  <section class="content p-4">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="bg-green-200 text-green-800 p-2 my-2">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>